<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="firefighter">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import firefighter urdf file -->
    <xacro:include filename="$(find mycobot_description)/urdf/mycobot_280_m5/mycobot_280_m5.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="firefighter.ros2_control.xacro" />


    <xacro:firefighter_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
